{% extends'base.html.twig' %}

{% block body %}
    <h1>{{ tag.name }}</h1>
        <ul>
    {% for article in tag.articles %}
        {% set article_id =  article.id   %}
        <li><a href="{{ path('show_article', { 'article_id': article.id} ) }}">{{ article.title }}</a></li>
    {% endfor %}
        </ul>
{% endblock %}